* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

/* ====== NAVBAR  ========= */
nav {
  height: 35px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 10px;
  max-width: 300px;
}
.fa-magnifying-glass {
  position: absolute;
  top: 24%;
  left: 90%;
  font-size: 12px;
  color: hsl(0, 0%, 60%);
}

#search-input {
  border: 1px solid hsl(0, 0%, 60%);
  width: 100%;
  height: 25px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 12px;
}

#search-input::placeholder {
  color: hsl(0, 0%, 60%);
}
.select-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#filter-btn {
  height: 25px;
  font-size: 12px;
  color: hsl(0, 0%, 60%);
  border: 1px solid hsl(0, 0%, 60%);
  border-radius: 5px;
}

.cart-container {
  margin-right: 5px;
  cursor: pointer;
}

.fa-cart-shopping {
  color: hsl(0, 0%, 60%);
}

.scrolled {
  background-color: hsl(0, 0%, 90%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* ====== END OF NAVBAR ========== */
/* ====== START OF PRODUCT LIST ======= */

#list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 10px;
  max-width: 1024px;
  margin: 0 auto;
}

.card {
  height: 240px;
  padding: 10px;
  background-color: #fff;
  width: 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 4px;
}

img {
  height: 100px;
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.card-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-content {
  flex: 1;
}
.card-price {
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 4%;
  left: 66%;
  background-color: hsla(227, 100%, 70%, 0.799);
  color: hsl(0, 0%, 10%);
  width: 42px;
  padding: 3px;
  border-radius: 4px;
  font-size: 12px;
}

.card-title {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.card-desc {
  font-weight: 300;
  color: hsl(0, 0%, 50%);
  font-size: 13px;
  text-align: center;
}

.btn-container {
  width: 100%;
}

.card-btn {
  width: 100%;
  height: 25px;
  background-color: hsla(227, 100%, 70%, 0.799);
  color: hsl(236, 85%, 95%);
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}

.card-btn:hover {
  color: hsla(227, 100%, 70%, 0.799);
  background-color: hsl(236, 85%, 95%);
  transition: 0.5s ease-in-out;
}

/* ====== END OF PRODUCT LIST ======= */
/* ====== START OF CART MODAL ======= */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0, 0%, 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  width: 80%;
  min-height: 50%;
  max-height: 80%;
  max-width: 700px;
  overflow-y: auto;
  background-color: #fff;
  position: relative;
  padding: 5px;
}

.modal-content h2 {
  text-align: center;
  font-size: 26px;
  margin: 20px auto;
}

.modal-content span {
  position: absolute;
  top: 2%;
  left: 93%;
}

.modal-content span:hover {
  cursor: pointer;
}
body.modal-open {
  overflow: hidden;
}

div.item-container {
  position: relative;
  margin-bottom: 5px;
}
div.item-container h3 {
  font-size: 18px;
  margin-bottom: 2px;
}

div.item-container button {
  position: absolute;
  top: 0;
  left: 95%;
}

#cart-list h4 {
  margin-top: 40px;
}
/* ====== END OF CART MODAL ======= */

@media screen and (min-width: 560px) {
  #list {
    grid-template-columns: repeat(3, 1fr);
  }
  .cart-container {
    margin-right: 10px;
  }
  .modal-content span {
    top: 4%;
    left: 95%;
  }
}

@media screen and (min-width: 730px) {
  #list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .card {
    width: 166px;
  }
}
@media screen and (min-width: 1000px) {
  #list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  .card {
    width: 180px;
  }
}

/* ======== JAVASCRIPT LATER STYLES ============== */
/* when button is clicked */
/* .clicked {
 background-color: hsl(120, 100%, 35%);
 color: #fff;
} */

/* hide class  */
.hide {
  /* display: hidden; */
  display: none;
}
#hide {
  display: none;
}
/* add class when moueover - js */
/* .card:hover .hide {
 display: block;
} */
